* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2efc7;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #2c3e50;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em;
}

section {
    padding: 40px 0;
}

section h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
}

ul li {
    margin-bottom: 15px;
}

ul li a {
    text-decoration: none;
    color: #2980b9;
    font-weight: bold;
}

ul li a:hover {
    text-decoration: underline;
}

#contact-form label {
    display: block;
    margin: 10px 0 5px;
}

#contact-form input,
#contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#contact-form button {
    padding: 10px 20px;
    background-color: #2980b9;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#contact-form button:hover {
    background-color: #3498db;
}

footer {
    background-color: #2c3e50;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.pro{
    margin: 10px;
    fo
    font-size: 20px;
}
.image {
    width:200px;
    height: 200px;
    background-size: cover;
    background-image: url('WhatsApp\ Image\ 2024-08-24\ at\ 00.29.44.jpeg');
    border-radius: 50%;
    background-position: center;
    display:flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

}